<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<spacer size="16"></spacer>

<container>
  <spacer size="20"></spacer>
  <row class="va-header">
    <columns small="12" large="6" valign="middle">
      <img src="http://www.vaincrelautisme.org/mailing-images/logo.png" alt="logo vaincre l'autisme" class="va-header__logo">
    </columns>
    <columns></columns>
    <columns large="4" valign="middle">
      <center>
        <menu>
          <item href="mailto:donateur@vaincrelautisme.org"><img src="http://www.vaincrelautisme.org/mailing-images/mail.png" alt="Envoyer un mail" class="va-header__social"></item>
          <item href="https://www.facebook.com/Vaincre-Lautisme-188089237873384/"><img src="http://www.vaincrelautisme.org/mailing-images/facebook.png" alt="Lien Facebook" class="va-header__social"></item>
          <item href="https://twitter.com/Vaincrelautisme" class="last"><img src="http://www.vaincrelautisme.org/mailing-images/twitter.png" alt="Lien Twitter" class="va-header__social"></item>
        </menu>
      </center>
    </columns>
  </row>
  <spacer size="20" class="border-header"></spacer>
  <spacer size="40"></spacer>
  <row class="va-content">
    <columns large="12">
      <p class="va-content__text">Madame/Monsieur,</p>
      <p class="va-content__text">Au nom de toute l'association Vaincre l'Autisme : <span class="primary">merci !</span></p>
      <p class="va-content__text">VAINCRE L'AUTISME vous remercie chaleureusement pour votre adhésion ! Vous pourrez très bientôt obtenir votre carte d'adhérent via l'espace adhérent qui vous sera dédié. Votre soutien permet à VAINCRE L’AUTISME de poursuivre son action contre l’autisme : défendre les droits des enfants qui en sont affectés, agir pour faire connaître et reconnaître cette maladie, innover en matière de droit et de prise en charge.
      Votre engagement à nos côtés constitue votre pierre à l’édifice d’un avenir meilleur pour les personnes autistes, vous pouvez en être fier !</p>
    </columns>
  </row>
  <row class="va-content">
    <columns>
      <img src="http://www.vaincrelautisme.org/mailing-images/main-picture.png" alt="Photo d'enfant autiste" class="va-content__picture">
      <p class="va-content__text">Nous restons à votre disposition pour toute information complémentaire.
      <br>

      En vous remerciant une nouvelle fois pour votre générosité et votre engagement, je vous prie de croire, Madame/Monsieur, à l’expression de mes sentiments les meilleurs.</p>
    </columns>
  </row>
  <row>
  </row>
  <spacer size="50"></spacer>
  <row>
    <columns></columns>
    <columns></columns>
    <columns large="6">
      <p class="small-text-center president__name">M'Hammed SAJIDI,</p>
      <p class="small-text-center president__title">Président de Vaincre l'Autisme</p>
      <img src="http://www.vaincrelautisme.org/mailing-images/signature.png" alt="Signature de M. Sajidi" class="float-center">
    </columns>
  </row>
  <row class="va-footer">
  </row>
  <spacer size="20"></spacer>

</container>

<spacer size="16"></spacer>
  
</body>
</html>