.btn {
  color: $white;
  font-size: rem(14px);
  border: none;
  cursor: pointer;

  &__choose {
    width: 180px;
    margin: auto;
    background: #999999;
    padding: rem(10px) rem(20px);
    text-align: center;
    display: block;

    &--selected {
      background: $pink;
    }

    @include mobile {
      width: 100%;
      padding: rem(12px) rem(10px);
      font-size: rem(12px);
      margin: 0;
    }
  }

  &__perks, &__hide {
    @extend .btn__choose;
  }

  &__hide {
    width: 80%;
    margin: auto;
  }

  &__add {
    padding: rem(10px) rem(40px);
    margin-left: auto;

    @include tablet {
      padding: rem(10px) rem(24px);
    }

    @include mobile {
      margin: auto;
      margin-top: rem(18px);
    }
  }

  &__payment {
    padding: rem(10px) rem(16px);
    margin-top: rem(20px);

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.btn-container {
  text-align: center;
}
