.btn {
  color: $white;
  font-size: rem(14px);
  border: none;
  cursor: pointer;

  &__choose {
    width: 180px;
    margin: auto;
    background: #999999;
    padding: rem(10px) rem(20px);
    text-align: center;
    display: block;

    &--selected {
      background: $pink;
    }

    &--donation {
      width: 112px;

      &.btn__choose--selected {
        background: $green;
      }
    }

    @include mobile {
      width: 100%;
      padding: rem(12px) rem(10px);
      font-size: rem(12px);
      margin: 0;
    }
  }

  &__perks, &__hide {
    @extend .btn__choose;
  }

  &__hide {
    width: 80%;
    margin: auto;
  }

  &__add {
    padding: rem(10px) rem(40px);
    margin-left: auto;
    background: #D0D0D0;

    @include tablet {
      padding: rem(10px) rem(24px);
    }

    @include mobile {
      margin: auto;
      margin-top: rem(18px);
    }
  }

  &__payment {
    padding: rem(10px) rem(16px);
    margin-top: rem(20px);
    background-color: $pink;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__contact {
    background: $pink;
    padding: rem(10px) rem(16px);
    margin-top: rem(20px);
    font-family: 'Roboto';

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__download {
    background: $pink;
    padding: rem(8px) rem(12px);
    margin-left: auto;
    font-size: rem(14px);
    text-transform: initial;
    font-weight: normal;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__downloadmail {
    display: none;
    padding: rem(10px);
    background: #D0D0D0;
    text-align: center;
    width: 90%;

    @include mobile {
      display: block;
    }
  }

}

.btn-container {
  text-align: center;
}
