html, body{
   width: 100%;
   height: 100%;
   position: relative;
   font-family: 'Roboto', Helvetica, sans-serif;
   color: $grey-text;
}

* {
  box-sizing: border-box;
}

body {
  background: #F4F4F4;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  position: relative;
}

.main__container {

  @include desktop {
    width: calc(100% - 180px);
    position: relative;
    left: 180px;
  }

  .container {
    margin-bottom: rem(200px);
  }
}

.small-section {
  width: 90%;
  margin: auto;

  @include desktop {
    width: 60%;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
