// Colors

$black: #000000;
$grey: #E5E5E5;
$dark-grey: #4A4A4A;
$white: #FFFFFF;
$pink: #E41370;

$grey-text: #9B9B9B;

$border: #DDDDDD;


// Fonts variables
$din: 'DIN-Bold';
$lucida: 'LucidaGrande-Bold';

$base-font-size: 16px;

$tablet-width: 768px;
$desktop-width: 1150px;
$big-desktop-width: 1450px;
