.choice {

  @include display(flex);
  @include justify-content(space-between);
  @include flex-wrap(wrap);

  width: 75%;
  margin: rem(40px) auto 0;

  &__item {
    @include display(flex);

    .content {
      @include display(flex);
      @include flex-direction(column);
    }
  }


  &__price {
    background: $pink;
    color: $white;
    text-align: center;
    padding: rem(20px) rem(30px);

    .price {
      font-family: $din;
      font-size: rem(84px);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

      > span {
        font-family: Helvetica;
        font-size: rem(40px);
        vertical-align: top;
      }
    }

    .monthly-price {
      @extend .roboto--medium;
      margin-top: rem(18px);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    }

  }

  &__info {
    background: $dark-grey;
    padding: rem(10px) 0;
    text-align: center;
    font-size: rem(12px);

    .big {
      font-size: rem(14px);
    }

    .white {
      color: $white;
    }

    .infobox {
      position: relative;
      margin-left: rem(2px);
      > svg {
        width: rem(12px);
        height: rem(12px);
        cursor: pointer;
      }

      &:hover {
        .infobox__text {
          display: block;
        }
      }

      &__text {
        position: absolute;
        display: none;
        width: 222px;
        font-size: rem(10px);
        line-height: rem(15px);
        color: #9B9B9B;
        background: #272727;
        padding: rem(7px) rem(10px);
        left: 50%;
        @include transform(translateX(-50%));
        top: -50px;
        text-align: left;

        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          @include transform(translateX(-50%));
          height: 0;
          width: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #272727;
        }
      }
    }


  }

  &__features {

    background: $white;
    font-size: rem(14px);
    padding: rem(18px) rem(30px);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.04);

    @include display(flex);
    @include flex-direction(column);
    @include flex(1 0 auto);


    .features {
      margin-bottom: rem(36px);
      @include flex(1 0 auto);
    }

    .features__item {
      margin-bottom: rem(10px);

      &:last-child {
        margin-bottom: 0;
      }
      > svg {
        width: rem(12px);
        height: rem(10px);
      }
    }

    input[type="radio"] {
      display: none;
    }

  }

  &__catchline {
    @extend .roboto--medium;
    text-decoration: underline;
    color: #7c7c7c;
    margin-bottom: rem(20px);
  }
}
