.intro {
  max-width: rem(385px);
  margin: rem(40px) auto 0;
  text-align: center;

  &__catchline {
    @extend .roboto--medium;

    width: 100%;
    font-size: rem(22px);
    background: $dark-grey;
    color: $white;
    line-height: rem(30px);
    padding: rem(16px) rem(36px);

    @include mobile {
      padding: rem(16px) rem(24px);
    }
  }

  &__content {
    margin-top: rem(14px);
    font-size: rem(12px);
    line-height: rem(16px);
    padding: 0 rem(22px);

    > span {
      color: #6C6C6C;
    }

    @include mobile {
      font-size: rem(14px);
      padding: 0 rem(10px);
    }

  }
}
